<!-- Heredamos el contenido de base.html-->
{% extends './display_base.html' %}

<!-- Definimos el título -->
{% block title %}Home{% endblock %}


<!-- Definimos el cuerpo -->
{% block body %}

<!-- Creamos la barra de navegación -->
<header>
    <div class="px-3 py-2 bg-dark text-white">
      <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
          <a href="/" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
            <img class="mb-1" src="{{ url_for('static', filename='img/flask-removebg.png') }}" alt="" width="80" height="80">
          </a>

          <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
            <li>
              <a href="home" class="nav-link text-secondary">
                <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#home"/></svg>
                Home
              </a>
            </li>
            <li>
              <a href="#" class="nav-link text-white">
                <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#speedometer2"/></svg>
                Dashboard
              </a>
            </li>
            <li>
              <a href="#" class="nav-link text-white">
                <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#table"/></svg>
                Orders
              </a>
            </li>
            <li>
              <a href="#" class="nav-link text-white">
                <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#grid"/></svg>
                Products
              </a>
            </li>
            <li>
              <a href="logout" class="nav-link text-white">
                <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#logout"/></svg>
                Customers
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </header>


<!-- Creamos la alerta informativa -->
  <div class="alert alert-success alert-dismissible" role="alert">
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    <h2 class="alert-heading font-weight-bold">Bienvenido {{ name }}</h2>
    <p> En el siguiente formulario podrás diseñar tu <strong>Vagrant File</strong>.
        Una vez lo tengas diseñado envía el formulario para obtener el archivo.
    </p>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    <hr>
    <p class="mb-0">Disfruta de tu VM</p>
</div>

{% endblock %}

