<!-- Heredamos el contenido de base.html-->
{% extends './base.html' %}

<!-- Definimos el título -->
{% block title %}Login{% endblock %}

<!-- Cargamos la ruta del archivo CSS -->
{% block customCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock %}

<!-- Definimos el cuerpo -->
{% block body %}
<form class="form-signin" action="/login" method="POST">
    <img class="mb-4" src="{{ url_for('static', filename='img/login.png') }}" alt="" width="100" height="100">
    
    <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
    <div class="form-floating">
        <input type="text" class="form-control" id="username" name="username" placeholder="Username">
        <label for="username">Username</label>
    </div>
    <div class="form-floating mt-2">
        <input type="password" class="form-control" name="password" placeholder="Password">
        <label for="password">Password</label>
    </div>

    {% with messages = get_flashed_messages(with_categories=true) %}

        {% if messages %}
            {% for category, message in messages %}
            <div class="alert {{ category }} alert-dismissible fade show" role="alert">
                <strong>{{ message }}</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
        {% endif %}

    {% endwith %}

    <p><button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button></p>
    <p><a href="register" class="w-100 btn btn-lg btn-secondary">Create account</a></p>

</form>
{% endblock %}